scripts/pipeline/compara_db_config.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns:blockly="http://blockly.com/">
  <define name="new_species_set">
    <oneOrMore>
      <choice>
        <element name="taxonomic_group" blockly:blockName="Taxonomy-based definition">
          <choice>
            <attribute name="taxon_id" blockly:blockName="Taxon ID"/>
            <attribute name="taxon_name" blockly:blockName="Taxon name"/>
          </choice>
          <optional>
            <attribute name="exclude" blockly:blockName="Exclude those genomes">
              <choice>
                <value blockly:blockName="Yes">1</value>
                <value blockly:blockName="No">0</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="only_with_karyotype" blockly:blockName="Only genomes with a karyotype">
              <choice>
                <value blockly:blockName="Yes">1</value>
                <value blockly:blockName="No">0</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="only_high_coverage" blockly:blockName="Only high-coverage genomes">
              <choice>
                <value blockly:blockName="Yes">1</value>
                <value blockly:blockName="No">0</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="only_good_for_alignment" blockly:blockName="Only genomes which are good for alignment">
              <choice>
                <value blockly:blockName="Yes">1</value>
                <value blockly:blockName="No">0</value>
              </choice>
            </attribute>
          </optional>
          <zeroOrMore>
            <element name="ref_for_taxon" blockly:blockName="Reference genome (replaces other genomes)">
              <attribute name="name" blockly:blockName="Reference name"/>
              <optional>
                <attribute name="taxon_id" blockly:blockName="Taxonomic scope (ID)"/>
              </optional>
            </element>
          </zeroOrMore>
        </element>
        <element name="genome" blockly:blockName="Genome">
          <attribute name="name" blockly:blockName="Name"/>
          <optional>
            <attribute name="assembly" blockly:blockName="Assembly"/>
          </optional>
          <optional>
            <attribute name="exclude" blockly:blockName="Exclude those genomes">
              <choice>
                <value blockly:blockName="Yes">1</value>
                <value blockly:blockName="No">0</value>
              </choice>
            </attribute>
          </optional>
          <optional>
            <attribute name="genome_component"
                       blockly:blockName="If specified, this indicates which genome component is represented by this genome element; an empty attribute string indicates the principal genome"/>
          </optional>
        </element>
      </choice>
    </oneOrMore>
  </define>
  <!-- /new_species_set -->
  <define name="new_named_species_set">
    <!-- This attribute assumes the ref is included in an element -->
    <attribute name="name" blockly:blockName="Name"/>
    <ref name="new_species_set"/>
  </define>
  <!-- /new_named_species_set -->
  <define name="new_species_set_or_collection">
    <choice>
      <attribute name="collection" blockly:blockName="Collection name"/>
      <element name="species_set" blockly:blockName="New species-set">
        <ref name="new_species_set"/>
        <optional>
          <attribute name="in_collection" blockly:blockName="within this collection"/>
        </optional>
      </element>
    </choice>
  </define>
  <!-- /new_species_set_or_collection -->
  <define name="ref_species_set_or_collection">
    <optional>
      <element name="ref_genome_set" blockly:blockName="Reference genomes">
        <choice>
          <attribute name="collection" blockly:blockName="Collection name"/>
          <group>
            <optional>
              <attribute name="in_collection" blockly:blockName="within this collection"/>
            </optional>
            <ref name="new_species_set"/>
          </group>
        </choice>
      </element>
    </optional>
  </define>
  <!-- /ref_species_set_or_collection -->
  <define name="pairwise_methods">
    <attribute name="method" blockly:blockName="Alignment method">
      <choice>
        <value>LASTZ_NET</value>
        <value>TRANSLATED_BLAT_NET</value>
      </choice>
    </attribute>
  </define>
  <!-- /pairwise_methods -->
  <start>
    <element name="compara_db" blockly:blockName="Compara database">
      <attribute name="division" blockly:blockName="Division name"/>
      <optional>
        <element name="collections" blockly:blockName="Collections">
          <oneOrMore>
            <element name="collection" blockly:blockName="Collection definition">
              <optional>
                <attribute name="no_release" blockly:blockName="No release">
                  <choice>
                    <value blockly:blockName="Yes">1</value>
                    <value blockly:blockName="No">0</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="no_store" blockly:blockName="Do not store this collection">
                  <choice>
                    <value blockly:blockName="Yes">1</value>
                    <value blockly:blockName="No">0</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="no_components" blockly:blockName="Omit polyploid subgenome components">
                  <choice>
                    <value blockly:blockName="Yes">1</value>
                    <value blockly:blockName="No">0</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="strain_type" blockly:blockName="Predominant strain type of this collection">
                  <!-- This should be kept in sync with strain types in the StrainType datacheck. -->
                  <choice>
                    <value blockly:blockName="Strain">strain</value>
                    <value blockly:blockName="Breed">breed</value>
                    <value blockly:blockName="Cultivar">cultivar</value>
                    <value blockly:blockName="Ecotype">ecotype</value>
                    <value blockly:blockName="Haplotype">haplotype</value>
                    <value blockly:blockName="Isolate">isolate</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                  <element name="base_collection" blockly:blockName="Include collection as base">
                    <attribute name="name" blockly:blockName="Collection name"/>
                  </element>
              </optional>
              <ref name="new_named_species_set"/>
              <zeroOrMore>
                <element name="composable_collection" blockly:blockName="Include or exclude collection">
                  <attribute name="name" blockly:blockName="Collection name"/>
                  <optional>
                    <attribute name="exclude" blockly:blockName="Exclude this collection">
                      <choice>
                        <value blockly:blockName="Yes">1</value>
                        <value blockly:blockName="No">0</value>
                      </choice>
                    </attribute>
                  </optional>
                </element>
              </zeroOrMore>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <!-- /collections -->
      <optional>
        <element name="pairwise_alignments" blockly:blockName="Pairwise alignments">
          <oneOrMore>
            <choice>
              <element name="pairwise_alignment" blockly:blockName="One vs one">
                <attribute name="ref_genome" blockly:blockName="Reference genome"/>
                <attribute name="target_genome" blockly:blockName="Target (non-reference) genome"/>
                <ref name="pairwise_methods"/>
              </element>
              <element name="one_vs_all" blockly:blockName="One vs all">
                <attribute name="ref_genome" blockly:blockName="Reference genome"/>
                <ref name="pairwise_methods"/>
                <optional>
                  <choice>
                    <attribute name="against" blockly:blockName="Target (non-reference) taxon name"/>
                    <group>
                      <ref name="new_species_set_or_collection"/>
                    </group>
                  </choice>
                </optional>
                <optional>
                  <choice>
                    <attribute name="ref_amongst" blockly:blockName="Also align against references genomees within this taxon"/>
                    <group>
                      <ref name="ref_species_set_or_collection"/>
                    </group>
                  </choice>
                </optional>
              </element>
              <element name="all_vs_one" blockly:blockName="All vs one">
                <attribute name="target_genome" blockly:blockName="Target (non-reference) genome"/>
                <ref name="pairwise_methods"/>
                <ref name="new_species_set_or_collection"/>
              </element>
              <element name="all_vs_all" blockly:blockName="All vs all">
                <ref name="pairwise_methods"/>
                <ref name="new_species_set_or_collection"/>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <!-- /pairwise_alignments -->
      <optional>
        <element name="multiple_alignments" blockly:blockName="Multiple alignments">
          <oneOrMore>
            <element name="multiple_alignment" blockly:blockName="Multiple alignment">
              <attribute name="method" blockly:blockName="Alignment method">
                <choice>
                  <value>PECAN</value>
                  <value>EPO</value>
                  <value>EPO_EXTENDED</value>
                  <value>EPO+EPO_EXTENDED</value>
                  <value>CACTUS_HAL</value>
                  <value>CACTUS_DB</value>
                </choice>
              </attribute>
              <choice>
                <attribute name="collection" blockly:blockName="Collection name"/>
                <element name="species_set" blockly:blockName="New named species-set">
                  <optional>
                    <attribute name="in_collection" blockly:blockName="within this collection"/>
                  </optional>
                  <optional>
                    <attribute name="display_name" blockly:blockName="Display name (for the MLSS only)"/>
                  </optional>
                  <ref name="new_named_species_set"/>
                </element>
              </choice>
              <optional>
                <attribute name="gerp" blockly:blockName="Run GERP">
                  <choice>
                    <value blockly:blockName="Yes">1</value>
                    <value blockly:blockName="No">0</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="no_release" blockly:blockName="No release">
                  <choice>
                    <value blockly:blockName="Yes">1</value>
                    <value blockly:blockName="No">0</value>
                  </choice>
                </attribute>
              </optional>
              <optional>
                <attribute name="url" blockly:blockName="URL field for CACTUS_HAL"/>
              </optional>
              <optional>
                <attribute name="ref_genome" blockly:blockName="Reference genome"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <!-- /multiple_alignments -->
      <optional>
        <element name="self_alignments" blockly:blockName="Self-alignments">
          <oneOrMore>
            <element name="genome" blockly:blockName="Genome">
              <attribute name="name" blockly:blockName="Name"/>
              <optional>
                <attribute name="assembly" blockly:blockName="Assembly"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <!-- /self_alignments -->
      <optional>
        <element name="assembly_patches" blockly:blockName="Assembly patches">
          <oneOrMore>
            <element name="genome" blockly:blockName="Genome">
              <attribute name="name" blockly:blockName="Name"/>
              <optional>
                <attribute name="assembly" blockly:blockName="Assembly"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <!-- /assembly_patches -->
      <optional>
        <element name="families" blockly:blockName="Protein-families">
          <oneOrMore>
            <element name="family" blockly:blockName="Protein-families">
              <attribute name="collection" blockly:blockName="Collection name"/>
            </element>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="gene_trees" blockly:blockName="Gene-trees">
          <oneOrMore>
            <choice>
              <element name="protein_trees" blockly:blockName="Protein-trees">
                <attribute name="collection" blockly:blockName="Collection name"/>
                <optional>
                  <attribute name="homology_range_index"
                             blockly:blockName="Homology range index, to facilitate storing of multiple gene-tree collections in one Compara database.
                             If set, homology-related dbIDs are offset by the product of this index and a multiplier.">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="prefer_for_genomes"
                             blockly:blockName="If we must choose, this is the preferred strain collection for the given space-delimited list of genomes.">
                    <list>
                      <oneOrMore>
                        <data type="string"/>
                      </oneOrMore>
                    </list>
                  </attribute>
                </optional>
              </element>
              <element name="nc_trees" blockly:blockName="ncRNA-trees">
                <attribute name="collection" blockly:blockName="Collection name"/>
                <optional>
                  <attribute name="homology_range_index"
                             blockly:blockName="Homology range index, to facilitate storing of multiple gene-tree collections in one Compara database.
                             If set, homology-related dbIDs are offset by the product of this index and a multiplier.">
                    <data type="integer"/>
                  </attribute>
                </optional>
                <optional>
                  <attribute name="prefer_for_genomes"
                             blockly:blockName="If we must choose, this is the preferred strain collection for the given space-delimited list of genomes.">
                    <list>
                      <oneOrMore>
                        <data type="string"/>
                      </oneOrMore>
                    </list>
                  </attribute>
                </optional>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </optional>
      <optional>
        <element name="species_trees" blockly:blockName="Species-trees">
          <oneOrMore>
            <element name="species_tree" blockly:blockName="Species-tree">
              <attribute name="collection" blockly:blockName="Collection name"/>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </start>
</grammar>
